de.th_koeln.nt.fowler.parent/de.th_koeln.nt.fowler/.antlr-generator-3.2.0-patch.jar
de.th_koeln.nt.fowler.parent/*/.launch/
de.th_koeln.nt.fowler.parent/de.th_koeln.nt.fowler/model/
de.th_koeln.nt.fowler.parent/*/src-gen/
de.th_koeln.nt.fowler.parent/*/xtend-gen/
de.th_koeln.nt.fowler.parent/*/target/

