<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.th_koeln.de/nt/fowler/Fowler"
			class = "de.th_koeln.nt.fowler.fowler.FowlerPackage"
			genModel = "model/generated/Fowler.genmodel" />
	</extension>
</plugin>
